@import "normalizee.scss" 
@import "resets.scss"
*   
    box-sizing: border-box

$color-blue: #438FFE
$color-grey: #D6D6D6
$color-orange: #FC7D4D

@font-face 
    font-display: swap
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-Regular.ttf')
    font-weight: regular
    font-style: normal

@font-face 
    font-display: swap
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-SemiBold.ttf')
    font-weight: bold
    font-style: normal
html
    font-family: "MontserratT"
    font-weight: regular
a   
    text-decoration: none
    color: white
    z-index: 2 
.black
    color: black
.container
    max-width: 1140px
    margin: 0 auto
.main-section
    overflow: hidden
    min-height: 800px
    background: #E8E8E8
    position: relative
    z-index: 0
    margin-bottom: 30px
    &__nav-container
        display: flex
        flex-direction: row 
        justify-content: space-between
        font-weight: bold
    &__header
        margin-top: 20px
    &__content
        display: flex
        position: relative
        margin-top: 40px
    &__nav 
        padding-right: 60px
    &__first-elypse
        position: absolute
        z-index: -1
        right: -80px
        top: 30px
    &__second-elypse
        position: absolute
        right: -80px
        top: 650px


.nav-menu
    margin-top: 20px
    &__list
        display: flex
        flex-direction: row
    &__item
        margin-right: 80px
        font-size: 18px
        font-weight: bold
        a
            text-decoration: none
            color: black
            
            
    &__item-last
        font-size: 18px
        a   
            text-decoration: none
            color: black
            
            


.left
    position: relative
    
    img
        position: relative
        z-index: 1
    &__rectangle-blue
        position: absolute
        top: 70px
        left: -50px
        width: 600px
        height: 200px
        background: $color-blue
        border-radius: 100px
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-60deg)

    &__rectangle-orange
        position: absolute
        width: 634.43px
        height: 200px
        left: -15px
        top: 90px

        background: $color-orange
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        transform: rotate(-45deg)
       
    &__rectangle-grey
        position: absolute
        width: 600px
        height: 200px
        left: 30px
        top: 145px

        background: $color-grey
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        transform: rotate(-30deg)
.right__list
    display: flex
    flex-direction: row

.mg
    margin-right: 40px
.icons
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.title
    position: relative
    font-size: 60px
    margin-left: 50px
    font-weight: bold
    &__hr
        position: absolute
        bottom: 0px
        margin: 0
        width: 49px
        border: none
        border-top: 2px solid #000000
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
.right
    width: 450px
    position: absolute
    top: 50px
    right: 76px
    &__icons
        margin-bottom: 15px
        padding-right: 20px
    &__title
        margin-left: 73px
        margin-bottom: 10px
    &__text
        font-size: 14px
        margin-left: 73px
        width: 250px
        margin-bottom: 23px
    &__icon-btn
        display: flex
        flex-direction: row 
        align-items: center
        img
            margin-right: 17px
    &_telegram 
        z-index: 2
        
    &__button
        margin-left: 50px
.buttons
    display: flex
    flex-direction: row
    &__main-btn
        font-weight: bold
        margin-left: 25px
        margin-right: 20px
        width: 200px
        height: 60px
        border: 0
        background: $color-orange
        border-radius: 40px
        font-size: 18px
        color: white
    &__text
        font-style: 16px
    
.elypse
    
    width: 220px
    height: 220px
    background: linear-gradient(132.05deg, rgba(252, 125, 77, 0.5) 14.92%, rgba(67, 143, 254, 0.5) 54.65%, rgba(59, 58, 61, 0.5) 85.56%)
    border-radius: 150px
    display: flex
    justify-content: center
    align-items: center
    &__substract
        width: 152px
        height: 152px
        background: #E8E8E8
        border-radius: 150px
        &_big
            width: 145px
            height: 145px
        &_small
            width: 98.91px
            height: 98.91px
            background: white
            border-radius: 150px
    &_big
        width: 210px
        height: 210px
        transform: rotate(41.26deg)
    &_small
        width: 145px
        height: 145px
        transform: rotate(-75.17deg)
    &_small2
        width: 145px
        height: 145px
        transform: rotate(51.23deg)
    &_rot
        transform: rotate(-59.99deg)
        
.section2
    position: relative
    margin: 0 auto
    min-height: 650px
    overflow: hidden
    &__content
        max-width: 1140px
        margin: 0 auto
        position: relative 
        
    &__3cards
        display: flex
    &__title
        margin-bottom: 40px
    &__1card
        margin-right: 28px
        z-index: 1
    &__2card
        margin-right: 28px
    &__3card
        z-index: 1
    &__3cards
       margin-left: 50px
       margin-bottom: 20px
    &__icons
        display: flex
        margin-left: 130px
    
    &__icon1-3
        margin-right: 65px
    &__elypse
        position: absolute
        top: 350px
        left: -10px
    &__elypse2
        position: absolute
        top: 32px
        right: -134px
.section3
    position: relative
    margin: 0 auto
    min-height: 650px
    background: #E8E8E8
    overflow: hidden 
    
    &__content
        max-width: 1140px
        margin: 0 auto
        position: relative 
        display: flex
        justify-content: center
        align-items: center
    &__left
        position: absolute
        top: 280px
        right: 550px
    &__right3
        position: absolute
        top: 40px
        right: 45px
.left
    &__learning
        z-index: 3
        position: absolute
        top: 0px
        right: 0px
    &__content
        position: relative
    &__dec1
        z-index: 2
        position: absolute
        top: -46px
        right: 220px
    &__dec2
        z-index: 1
        position: absolute
        top: -123px
        right: 120px
    &__hr
        position: absolute
        left: 3px
    &__dec3
        position: absolute
        right: -100px
        top: -100px
.right3
    &__hr
        position: absolute
        bottom: 58px
        left: 3px
    &__text
        width: 454px
        height: 320px
        font-size: 16px
        font-style: normal
        line-height: 20px
        margin-bottom: 30px
    &__title
        margin-bottom: 30px
    &__main-btn
        margin-left: 0px
        margin-right: 76px
    &__button
        display: inline-flex
        align-items: center
.mb40
    margin-bottom: 40px       

.titlenoml
    position: relative
    font-size: 60px
    font-weight: bold
    &__hr
        margin: 0
        width: 60px
        border: none
        border-top: 2px solid #000000
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
.footer
    background: white
    position: relative
    &__hr
        position: absolute
        bottom: 58px
        left: 3px
    &__list
        display: flex
        flex-direction: row
        padding-right: 180px
    &__img
        position: absolute
        left: 0px
        bottom: 0px
    &__container
        min-height: 200px
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: center
        padding-right: 80px
    &__title
        margin-bottom: 25px

@media (max-width: 1199px)
    .container
        width: 960px
    .left
    
    
        img
            width: 750px
        &__rectangle-blue 
            width: 500px
            height: 200px
        &__rectangle-orange 
            width: 550px
            height: 200px       
        &__rectangle-grey
            width: 500px
            height: 200px
    .right
        right: -10px
    .main-section__first-elypse
        right: 0
    
    .section2
        min-height: 550px
        &__3cards
            margin-left: 10px
        &__icons
            justify-content: center
            margin-left: 0
        &__icon1
            margin-left: 0px
        &__icon1-3
            margin-right: 10px
        &__elypse
            top: 275px
            left: -10px
        &__elypse2
            right: -64px
    .cards
        width: 300px
        height: 300px
    .left
        &__dec1
            width: 200px
            top: -10px
            right: 245px


@media (max-width: 991px)
    .container
        width: 720px
    .main-section
        margin-bottom: 10px
        min-height: 550px
        &__nav
            padding-right: 30px
        &__first-elypse
            top: 11px
        &__second-elypse
            top: 460px
    .left
        img
            width: 500px
        &__rectangle-blue 
            width: 400px
            height: 150px
        &__rectangle-orange 
            width: 400px
            height: 150px 
            left: -20px     
        &__rectangle-grey
            width: 400px
            height: 150px
            left: 9px
            top: 119px
    .title
        font-size: 45px  
        margin-left: 0px
        &__hr
            width: 30px
        
    .titlenoml
        font-size: 45px  
        &__hr
            width: 30px

    .right
        top: 0
        right: -120px
        &__icons
            padding-right: 50px
        &__text
            margin-left: 85px
            margin-bottom: 50px
        &__button
            margin-left: 0
            margin-right: 30px
        &__title
            margin-left: 80px
    .elypse
        width: 160px
        height: 160px
        &__substract
            width: 105px
            height: 105px
    .buttons
        flex-direction: column
        align-items: center
        &__main-btn
            margin-left: 20px
            margin-bottom: 20px
    .main-section__first-elypse
        right: 0
    .section2
        min-height: 400px
        &__title
            margin-bottom: 30px
        &__hr1
            margin-left: 5px  
        &__3cards
            margin-left: 10px
            margin-bottom: 0
        &__icons
            justify-content: center
            margin-left: 0
        &__icon1
            margin-left: 0px
        &__icon1-3
            width: 150px
            height: 150px
            margin-right: 10px
        &__icon4
            width: 150px
            height: 150px
        &__elypse
            top: 175px
            left: -75px

        &__elypse2
            right: -64px
            top: 0
    .cards
        width: 220px
        height: 220px
    .left
        &__dec1
            width: 180px
            top: -10px
            right: 245px
        &__dec2
            top: -91px
            right: 171px
        &__learning
            top: 3px
            right: 110px
    .section3
        min-height: 575px
        &__left 
            top: 217px
            right: 300px  
        &__right3
            right: 0
    .right3
        &__hr
            bottom: 42px
        &__text
            font-size: 12px
            width: 366px
            margin-bottom: 0
        &__button
            flex-direction: row
            margin-left: -200px   
    .footer
        &__img
            width: 300px
        &__hr
            bottom: 43px
        &__list
            padding-right: 40px
@media (max-width: 767px)
    .container
        width: 540px
    .nav-menu
        position: absolute
        right: -100%
        top: -20px
        height: 100vh
        background: linear-gradient(171.44deg, $color-orange 10.22%, $color-blue 56.79%, rgba(59, 58, 61, 0) 100%) 
        z-index: 18
        width: 40%
        transition: 1.5s all
        &__item
            margin-right: 0px
            font-size: 20px
        &__item_last
            font-size: 20px
        &__list
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: center
            height: 100%
    .hamburger
        background: linear-gradient(171.44deg, $color-orange 10.22%, $color-blue 56.79%, rgba(59, 58, 61, 0) 100%) 
        width: 44px
        position: absolute
        top: 40px
        right: 50px
        height: 33px
        z-index: 20
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        span
            
            height: 2px
            width: 35px
            display: block
            background: black
            margin-bottom: 4px
            transition: 1s all
            &:last-child
                margin-bottom: 10px
    .hamburger_active
        span 
            margin-bottom: -2px
            &:nth-child(1)          
                transform: translateY(3px) rotate(-45deg)
            &:nth-child(2) 
                display: none
            &:nth-child(3)
                transform: translateY(3px) rotate(45deg) 
    .nav-menu_active
        right: 0px
        z-index: 18

    .main-section
        margin-bottom: 10px
        min-height: 450px
        &__header
            margin-top: 10px
        &__nav
            padding-right: 0px
        &__first-elypse
            top: 5px
        &__second-elypse
            top: 370px
    .left
        img
            width: 350px
        &__rectangle-blue 
            width: 300px
            height: 110px
        &__rectangle-orange 
            width: 300px
            height: 110px 
            left: -26px     
        &__rectangle-grey
            width: 300px
            height: 110px
            left: 0px
            top: 110px
    .title
        font-size: 38px  
        margin-left: 0px
        &__hr
            width: 30px
        
    .titlenoml
        font-size: 38px  
        &__hr
            width: 30px
    .icons__img
        width: 30px
    .mg
        margin-right: 30px
    .right
        top: 0
        right: -150px
        &__icons
            padding-right: 30px
        &_telegram
            
        &__text
            margin-left: 107px
            margin-bottom: 50px
            font-size: 14px
            width: 180px
        &__button
            margin-left: 0
            margin-right: 30px
        &__title
            margin-left: 108px
    .elypse
        width: 140px
        height: 140px
        &__substract
            width: 92px
            height: 92px
    .buttons
        flex-direction: column
        align-items: center
        &__main-btn
            margin-left: 20px
            margin-bottom: 20px
            width: 150px
            height: 50px
            font-size: 15px
    .main-section__first-elypse
        right: 0
    .section2
        min-height: 350px 
        padding-right: 20px
        &__title
            margin-bottom: 30px
        &__hr1
            margin-left: 5px  
        &__3cards
            margin-left: 10px
            margin-bottom: 0
        &__icons
            justify-content: center
            padding-left: 25px
        &__icon1
            margin-left: 0px
        &__icon1-3
            width: 115px
            height: 115px
            margin-right: 10px
        &__icon4
            width: 115px
            height: 115px
        &__elypse
            top: 149px
            left: -63px

        &__elypse2
            right: -100px
            top: 0
        &__1card
            margin-right: 10px
        &__2card
            margin-right: 10px
    .cards
        width: 180px
        height: 180px
    .left
        &__dec1
            width: 180px
            top: -10px
            right: 245px
        &__dec2
            top: -91px
            right: 171px
        &__dec3
            top: -60px
            right: -60px
        &__learning
            top: 25px
            right: 155px
    .section3
        min-height: 535px
        &__left 
            top: 200px
            right: 160px  
        &__right3
            right: -23px
            top: 10px
    .right3
        &__hr
            bottom: 35px
        &__text
            font-size: 11px
            width: 300px
            margin-bottom: 30px
        &__button
            flex-direction: row
            margin-left: -200px 
        &__title
            margin-bottom: 10px  
        &__main-btn
            margin-bottom: 0px
    .footer
        &__img
            width: 270px
            top: -30px
        &__hr
            bottom: 35px
        &__list
            padding-right: 40px
        &__container
            padding-right: 0px
            min-height: 180px

@media (max-width: 575px)
    .container
        width: 100%
    .nav-menu
        position: absolute
        right: -100%
        top: -60px
        height: 100vh
        background: linear-gradient(171.44deg, $color-orange 10.22%, $color-blue 56.79%, rgba(59, 58, 61, 0) 100%) 
        z-index: 18
        width: 40%
        transition: 1.5s all
        &__item
            margin-right: 0px
            font-size: 20px
        &__item_last
            font-size: 20px
        &__list
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: center
            height: 100%
    .hamburger
        background: linear-gradient(171.44deg, $color-orange 10.22%, $color-blue 56.79%, rgba(59, 58, 61, 0) 100%) 
        width: 44px
        position: absolute
        top: 20px
        right: 10px
        height: 33px
        z-index: 20
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        span
            
            height: 2px
            width: 35px
            display: block
            background: black
            margin-bottom: 4px
            transition: 1s all
            &:last-child
                margin-bottom: 10px
                
    .hamburger_active
        span 
            margin-bottom: -2px
            &:nth-child(1)          
                transform: translateY(3px) rotate(-45deg)
            &:nth-child(2) 
                display: none
            &:nth-child(3)
                transform: translateY(3px) rotate(45deg) 
    .nav-menu_active
        right: 0px
        z-index: 18

    .main-section
        margin-bottom: 10px
        min-height: 370px
        &__header
            margin-top: 10px
            margin-right: 20px
            img
                width: 70px
        &__nav
            padding-right: 0px
        &__first-elypse
            top: 5px
        &__second-elypse
            top: 293px
            right: -45px
    .left
        img
            width: 250px
        &__rectangle-blue 
            width: 200px
            height: 70px
            top: 20px
            left: -20px
        &__rectangle-orange 
            width: 200px
            height: 70px
            top: 31px
            left: -6px     
        &__rectangle-grey
            width: 200px
            height: 70px
            left: 6px
            top: 48px
    .title
        font-size: 30px  
        margin-left: 0px
        &__hr
            width: 24px
        
    .titlenoml
        font-size: 30px  
        &__hr
            width: 24px
    .icons__img
        width: 25px
    .mg
        margin-right: 20px
    .right
        top: 0
        right: -150px
        &__icon-btn
            padding-bottom: 13px
            img
                width: 40px
        &__icons
            margin-bottom: 12px
            padding-right: 30px
        &_telegram
            
        &__text
            margin-left: 134px
            margin-bottom: 50px
            font-size: 12px
            width: 160px
        &__button
            margin-left: 0
            margin-right: 30px
        &__title
            margin-left: 135px
    .elypse
        width: 100px
        height: 100px
        &__substract
            width: 66px
            height: 66px
    .buttons
        flex-direction: row
        justify-content: center
        position: absolute
        top: 220px
        right: 160px
        &__text
            font-size: 14px
            padding-bottom: 10px
        &__main-btn
            margin-left: 20px
            margin-bottom: 20px
            width: 120px
            height: 35px
            font-size: 12px
    .main-section__first-elypse
        right: 0
    .section2
        display: flex
        flex-direction: row
        justify-content: center
        min-height: 240px 
        padding-right: 0px
        &__title
            margin-bottom: 15px
        &__hr1
            margin-left: 2px  
        &__3cards
            margin-left: 0px
            margin-bottom: 0
            display: flex
            justify-content: center
        &__icons
            justify-content: center
            padding-left: 0px
        &__icon1
            margin-left: 0px
        &__icon1-3
            width: 80px
            height: 80px
            margin-right: 0px
        &__icon4
            width: 80px
            height: 80px
        &__elypse
            top: 100px
            left: -40px

        &__elypse2
            right: -40px
            top: 0px
        &__1card
            margin-right: 10px
        &__2card
            margin-right: 10px
        &__3card
    .learning
        &__title
            font-size: 20px
    .cards
        
        width: 120px
        height: 120px
    .left
        &__hr
            width: 16px
            margin-left: -2px
        &__dec1
            width: 120px
            top: -10px
            right: 245px
        &__dec2
            top: -50px
            right: 200px
        &__dec3
            top: -60px
            right: -60px
        &__learning
            top: 25px
            right: 165px
            
    .section3
        min-height: 580px
        &__left 
            top: 233px
            right: 60px  
        &__right3
            right: 0px
            top: 10px
    .right3
        &__hr
            bottom: 28px
        &__text
            font-size: 10px
            width: 220px
            margin-bottom: 30px
        &__button
            flex-direction: row
            margin-left: -200px 
            top: 500px
            right: 40px
        &__title
            margin-bottom: 10px  
        &__main-btn
            margin-bottom: 0px
            margin-right: 40px
        &__icon-btn
            padding-top: 10px
            padding-bottom: 0px
    .footer
        &__img
            width: 200px
            top: -20px
            left: -40px
        &__hr
            bottom: 20px
            width: 17px
            left: 0px
        &__list
            padding-right: 20px
        &__container
            padding-right: 0px
            min-height: 130px
        &__title
            font-size: 23px
            margin-right: 3px